[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
markdown = "*"
beautifulsoup4 = "*"
python-frontmatter = "*"
mdx-wikilink-plus = "*"
mkdocs-callouts = "*"
mkdocs-custom-tags-attributes = "*"
pymdown-extensions = "*"
setuptools = "*"
mkdocs-embed-file-plugins = {file = "."}

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
black = "black ."
build = "python setup.py sdist bdist_wheel"
upload = "twine upload dist/*"
version="semantic-release version"
publish = "semantic-release publish"
release = "pipenv run version && pipenv run upload && pipenv run publish"
