[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
markdown = "*"
beautifulsoup4 = "*"
python-frontmatter = "*"
mdx-wikilink-plus = "*"
mkdocs-callouts = "*"
mkdocs-custom-tags-attributes = "*"
pymdown-extensions = "*"
black = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
black = "black ."
